body
{
    background-color: rgb(53, 53, 53);
}
.title
{
    text-align: center;
    font-family: lucida sans unicode;
}
.red
{
    color: red;
}
.white
{
    color:white;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p
{
    text-align: center;
}