body {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(240,240,250);
}
html, body {
  height: 100%;
}
.containertitle {
  display: inline-flex;
}
.containerbody {
  flex: 1 0 auto
}
.containervideo {
  flex-basis: auto;
}
.title {
  padding: 20px;
  color:black;
}
.item {
  text-align: justify;
  ;
  padding: 20px;
  background-color: rgb(220, 220, 230);
  color:black;
}
.footer {
  text-align: center;
  height: 50px;
  line-height: 50px;
  flex-shrink: 0;
}
.footer {
  color: rgb(40, 40, 50);
  background-color: rgb(180, 180, 190);
}
