body {
  display: inline-flex;
  flex-flow: column;
  background-color: rgb(240,240,250);
}
html, body {
  height: 100%;
  width: 100%;
}
em {
  font:bold;
}
.containertitle {
  display: inline-flex;
}
.containerbody {
  flex: 2 0 auto;
}
.containerimg {
  flex: 0 0 auto;
  flex-direction: column;
}
.containervideo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  display: block;
  height: 300px;
  width: 50%;
}

.title {
  padding: 20px;
  color:black;
}
.item {
  text-align: justify;
  padding: 20px;
  background-color: rgb(220, 220, 230);
  color:black;
}
.footer {
  text-align: center;
  height: 50px;
  line-height: 50px;
  flex-shrink: 0;
}
.footer {
  color: rgb(40, 40, 50);
  background-color: rgb(180, 180, 190);
}

