body {
  background-color: rgb(240,240,240);
}
html, body {
  height: 100%;
  margin: 0;
}
.containertitle {
  display: inline-flex;
  flex-wrap: wrap;
}
.containerbody {
  display: inline-flex;
  flex-wrap: wrap;
}
.title {
  padding: 20px;
}
.item {
  text-align: justify;
  padding: 20px;
  background-color: rgb(220, 220, 220);
}
.wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}
.footer,
.push {
  vertical-align: text-bottom;
  text-align: center;
  line-height: 80px;
  height: 80px;
  background-color: rgb(180, 180, 180);
}