body {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(240,240,240);
}
html, body {
  height: 100%;
}
.containertitle {
  display: inline-flex;
}
.containerbody {
  flex: 1 0 auto
}
.title {
  padding: 20px;
}
.item {
  text-align: justify;
  padding: 20px;
  background-color: rgb(220, 220, 220);
}
.footer,
.push {
  text-align: center;
  height: 50px;
  line-height: 50px;
  flex-shrink: 0;
  background-color: rgb(180, 180, 180);
}