body {
  height: 90%;
  margin: 0;
  background-color: rgb(240,240,240);
}
html, body {
  height: 100%;
  margin: 0;
}
.container {
  display: inline-flex;
  justify-content: flex-start;
  background-color: rebeccapurple;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}